<%= form_with(model: car, local: true) do |form| %>
  <% if car.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(car.errors.count, "error") %> prohibited this car from being saved:</h2>

      <ul>
      <% car.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :make %>
    <%= form.text_field :make %>
  </div>

  <div class="field">
    <%= form.label :model %>
    <%= form.text_field :model %>
  </div>

  <div class="field">
    <%= form.label :vin_number %>
    <%= form.text_field :vin_number %>
  </div>

  <div class="field">
    <%= form.label :many_part %>
    <%= form.number_field :many_part %>
  </div>
  <div class=="field" >
    <!-- create label for the parts -->
    <%= form.label :part_id %> <Br>
    <!-- create add drop down list for the parts possible to added -->
    <%= form.collection_select(:part_ids, Part.all ,:id, :name)%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
